#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.myimg{
  width:90px;
  height:90px;
}

.myimg:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
  transform: scale(0.9);
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.modal-body h3 {
  font-size: 24px;
  font-weight: bold;
}

.modal-body p {
  font-size: 18px;
  color: #555;
}